### Import Libraries

In [1]:
import pandas as pd
import numpy as np

This is the libraries it is very important to put first because without this, it will cause error upon execution of my data analysis.

In [3]:
df = pd.read_csv ("CO2_adsorption.csv")

I used this dataset since I see it to be useful to do my data analysis of the materials for the absorption of Co2.

In [4]:
df.head()

,Material_replace,Material,Precursor,Conjugated microporous polymer,Activation agent,Activation temperature_°C,Activation approach,BET surface area_m2/g,Total pore volume_cm3/g,CO2 uptake_mmol/g_25°C,Adsorption pressure_bar,Reference,Unnamed: 12,Unnamed: 13
0,0,Activated Carbon,Pomegranate peels,NaN,KOH,700.0,Wet impregnation,585.0,0.28,4.11,1,[204],NaN,NaN
1,0,Activated Carbon,Carrot peels,NaN,KOH,700.0,Wet impregnation,1379.0,0.58,4.18,1,[204],NaN,NaN
2,0,Activated Carbon,Fern leaves,NaN,KOH,700.0,Wet impregnation,1593.0,0.74,4.12,1,[204],NaN,NaN
3,0,Activated Carbon,Black locust,NaN,KOH,830.0,Wet impregnation,2064.0,0.98,3.75,1,[205],NaN,NaN
4,0,Activated Carbon,Rice husk char,NaN,KOH,780.0,Wet impregnation,2965.0,1.14,3.71,1,[206],NaN,NaN

This is the head of my dataset that has the categorial and the numerical variables.

In [5]:
df.tail()

,Material_replace,Material,Precursor,Conjugated microporous polymer,Activation agent,Activation temperature_°C,Activation approach,BET surface area_m2/g,Total pore volume_cm3/g,CO2 uptake_mmol/g_25°C,Adsorption pressure_bar,Reference,Unnamed: 12,Unnamed: 13
52,2,Microporous polymers,NaN,TCMP-3,NaN,NaN,NaN,961.0,0.36,1.26,1,[450],NaN,NaN
53,2,Microporous polymers,NaN,TCMP-5,NaN,NaN,NaN,494.0,0.51,1.22,1,[450],NaN,NaN
54,2,Microporous polymers,NaN,CMP-0,NaN,NaN,NaN,1018.0,0.56,1.21,1,[443],NaN,NaN
55,2,Microporous polymers,NaN,CMP-3,NaN,NaN,NaN,522.0,0.26,0.68,1,[443],NaN,NaN
56,2,Microporous polymers,NaN,CMP-5,NaN,NaN,NaN,512.0,0.47,0.68,1,[443],NaN,NaN

This is the tail of my dataset that has the last list of materials for the Co2 absorption.

### Columns in the Libraries

In [6]:
df.columns

Index(['Material_replace', 'Material', 'Precursor',
       'Conjugated microporous polymer', 'Activation agent',
       'Activation temperature_°C', 'Activation approach',
       'BET surface area_m2/g', 'Total pore volume_cm3/g',
       'CO2 uptake_mmol/g_25°C', 'Adsorption pressure_bar', 'Reference',
       'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

I used the df.columns to show the name of the columns in the Co2 adsorption dataset. This will help me to know the names of the Co2 adsoprtion.

### Data Processing

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Material_replace                57 non-null     int64
 1   Material                        57 non-null     object
 2   Precursor                       38 non-null     object
 3   Conjugated microporous polymer  19 non-null     object
 4   Activation agent                17 non-null     object
 5   Activation temperature_°C       17 non-null     float64
 6   Activation approach             17 non-null     object
 7   BET surface area_m2/g           53 non-null     float64
 8   Total pore volume_cm3/g         43 non-null     float64
 9   CO2 uptake_mmol/g_25°C          57 non-null     float64
 10  Adsorption pressure_bar         57 non-null     int64
 11  Reference                       57 non-null     object
 12  Unnamed: 12                     0 non-null      float64
 13  Unnamed: 13                     0 non-null      float64
dtypes: float64(6), int64(2), object(6)
memory usage: 6.4+ KB

I use the df.info because it will present a helpful information of the dataframe. This will help me to undersatnd the if there is any data incompatibility like unpredicted data like the unnamed columns.

In [9]:
df.dtypes

Material_replace                    int64
Material                           object
Precursor                          object
Conjugated microporous polymer     object
Activation agent                   object
Activation temperature_°C         float64
Activation approach                object
BET surface area_m2/g             float64
Total pore volume_cm3/g           float64
CO2 uptake_mmol/g_25°C            float64
Adsorption pressure_bar             int64
Reference                          object
Unnamed: 12                       float64
Unnamed: 13                       float64
dtype: object

I used this  because it is vital to determine the data types of each colunms. This will help me to understand the how I will continue the claining of the Co2 dataset.

In [10]:
df.describe()

,Material_replace,Activation temperature_°C,BET surface area_m2/g,Total pore volume_cm3/g,CO2 uptake_mmol/g_25°C,Adsorption pressure_bar,Unnamed: 12,Unnamed: 13
count,57.000000,17.000000,53.000000,43.000000,57.000000,57.0,0.0,0.0
mean,1.035088,794.705882,1459.184906,0.862937,2.710702,1.0,NaN,NaN
std,0.801002,81.326322,944.417112,0.568819,1.741102,0.0,NaN,NaN
min,0.000000,700.000000,240.000000,0.220000,0.580000,1.0,NaN,NaN
25%,0.000000,700.000000,798.000000,0.505000,1.180000,1.0,NaN,NaN
50%,1.000000,800.000000,1384.000000,0.740000,2.040000,1.0,NaN,NaN
75%,2.000000,850.000000,1906.000000,1.019000,4.180000,1.0,NaN,NaN
max,2.000000,900.000000,5290.000000,2.810000,6.180000,1.0,NaN,NaN

I used describe to show the attribute of the Co2 adsoprtion dataset and to see the number of mean. This help me to undestand the mean average value of each columns. The std shows the amount of change in the data and determine how it expand the values that come from the mean. The min shows the values of each columns from higher to lower. (pandas.pydata.org, n.d.).